/* Custom Font Classes */

.dancing-script-bold {
    font-family: "Dancing Script", serif;
    font-optical-sizing: auto;
    font-weight: 700;  /* Bold weight */
    font-style: normal;
  }
  
  .dancing-script-light {
    font-family: "Dancing Script", serif;
    font-optical-sizing: auto;
    font-weight: 400;  /* Regular weight */
    font-style: normal;
  }
  
  .oswald-light {
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-weight: 200;  /* Light weight */
    font-style: normal;
  }
  
  .oswald-regular {
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-weight: 400;  /* Regular weight */
    font-style: normal;
  }
  
  .oswald-bold {
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-weight: 600;  /* Bold weight */
    font-style: normal;
  }
  